@import './base.scss';

.FoodInsert{
    display: flex;
    background: #495057;
    justify-content: center;
    input{
        background: none;
        outline: none;
        border: none;
        padding: 0.5em;
        font-size: 1.2em;
        line-height: 1.2em;
        width: 20%;
        color: #fff;
        &::placeholder{
            color:#dee2e6;
            font-weight: bold;
        }
    }
    button{
        background: #868e96;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width:5%;
        color: #fff;
        font-size:2em;
        cursor: pointer;
        &:hover{
            background: #adb5bd;
        }
        transition: all 0.1s ease-in;
    }
    select{
        width:10%;
        border:none;
        background:none;
        padding: 0 0.5em;
        font-weight: bold;
        margin-right:10px;
        color:#fff;
        text-align: center;
        option{
            color: #000;
        }
    }
    @media screen and (max-width:560px){
        height: 5em;
        select{
            width:20%;
        }
        button{
            width:10%;
        }
        input{
            width:35%;
        }
    }
}